@model RE.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ssss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ssss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PMName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PMName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JEName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JEName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Report)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Report)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PMAccept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PMAccept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TLAccept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TLAccept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JEAccept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JEAccept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delivered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Feedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feedback)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
